*{
  margin: 0;
  text-decoration: none;
  font-style: normal;
}
body
{
  background: #FFF;
}

.navigation
{
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-top: 1px solid #636363;
  font-size: 10px;
}

.bar
{
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-top: 1px solid #636363;
  font-size: 12px;
}

.bar a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: inherit;
}

.archive
{
  text-decoration: underline;
}

.archive-mini-spacer
{
  padding-top: 25px;
}

.navigation a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: inherit;
}

.mini-nav-bar
{
  background: #FFF;
  margin-top: 0;
  box-shadow: 0px 1px 3px #888;
  position: fixed;
  width: 100%;
}
.mini-nav-items
{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.mini-navigation a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: inherit;
}

.mini-spacer
{
  padding-top: 20px;
}

/*.navigation > div
{
  display: table-cell;
  height: 100px;
  vertical-align: top;
  text-align: center;
}*/

.body_font
{
  font-family: 'Libre Franklin', sans-serif;
  max-width: 100%;
}


.heading
{
  display: table;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  height:60px;
  margin-top: 0;
  box-shadow: 0px 1px 3px #888;
}

.heading > h1
{
  display: table-cell;
  height: 100px;
  vertical-align: top;
  text-align: center;
}

.subheading
{
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 5px;
}

.nav-spacer
{
  margin: auto;
  text-align: center;
  top: 60px;
}

.me
{
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 3px solid #d6d6d6;
}

.entry
{
  margin-bottom: 10px;
}

.cv
{
  text-align: center;
  padding-top: 10px;
}

.cv a
{
  text-decoration: underline;
}

.name
{
  text-align: center;
}

#main-head
{
  position: static;
}

#practice
{
  font-weight: bolder;
  text-decoration: underline;
}
